@charset "utf-8";
*{margin: 0;padding: 0;}
.section{
    width: 100%;
    height: 100vh;
}
.section .main{
    width: 505px;
    height: 305px;
    border: 2px solid #000;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 150px;
}
.section .main .img1{
    position: absolute;
    left: 55px;
    top: -60%;
    animation: img1_ani 2s ease-in-out forwards;
}
@keyframes img1_ani {
    0%{left: 55px; top: -60%;}
    100%{left: 55px; top: 157px;}
}
.section .main .img2{
    position: absolute;
    right: 0;
    bottom: -100%;
    animation: img2_ani 2s ease-in-out 2s forwards;
}
@keyframes img2_ani {
    0%{right: 0; bottom: -100%;}
    100%{right: 0; bottom: 0;}
}
