@media ( min-width:320px ) and ( max-width:767px ){
    header{
    height: 50px;
    padding: 0 15px;
}
header .inner{
    width: 100%;
    height: 50px;
}
header .inner ul.gnb{
    display: none;
}
header .inner h1{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* 메뉴버튼 보이게 */
header .inner .m_btn{
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/m_menu.png")no-repeat;
    background-size: 24px;
    text-indent: -99999px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* 메인 영역*/
/* 이미지 */
main .visual img{
    width: 100%;
    background-size: contain;
}

main .txt p .show{
    display: block;
}
main .txt p .hidden{
    display: none;
}









    
}