@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{font-family: "Noto Sans KR", sans-serif;}
*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
.header{width: 100%;height: 71px; border-bottom: 1px solid #e7e7e7;}
.header .inner{width: 1200px;height: 71px;
            margin: auto;}
.header .inner h1{float: left;
            margin-right: 69px;
            margin-top: 15px;}
.header .inner .gnb{float: left;}
.header .inner .icon{float: right;}
.header .inner .gnb li{float: left;
                        line-height: 71px;
                        margin-right: 63px;}
.header .inner .gnb li a{font-size: 17px;
                        color: #585858;
                        font-weight: 600;}
.header .inner .gnb .last{margin-right: 0;}
.header .inner .icon li{float: left;
                        line-height: 71px;
                        margin-left: 23px;}
.header .inner .icon .first{margin-left: 0px;}