@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
    padding: 0 16px;
    box-sizing: border-box;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
button{background: none;border: none;cursor: pointer;}

/* 검색 박스 */
.search{
    width: 100%;
    height: 50px;
    position: relative;
}
.search input{
    width: 100%;
    height: 100%;
    border: 1px solid #C8C8C8;
    padding: 0 16px;
    box-sizing: border-box;
    text-indent: 32px;
    outline: none; 
}
.search input::placeholder{
    font-size: 15px;
    color: #C8C8C8;
}
.search .fa-magnifying-glass{
    font-size: 24px;
    color: #C8C8C8;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

/* 메인 이미지 */
.visual{
    width: 100%;
    margin-top: 16px;
}
.visual img{
    width: 100%;
}


/* 카테고리 */
.keyword{
    width: 100%;
}
.keyword .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    box-sizing: border-box;
}
.keyword ul.btnwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.keyword ul.btnwrap li a{
    display: block;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    background: #956BDA;
    padding: 8px 12px;
}

.keyword ul.btnwrap li:nth-child(5) a,
.keyword ul.btnwrap li:nth-child(6) a{
    margin-top: 16px;
}


/* 탭바 */
ul.tabbar{
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #C8C8C8;
    background: #FFF;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
ul.tabbar a{
    color: #C8C8C8;
}
ul.tabbar li:first-child a{
    color: #235BF5;
}


/* 상품목록 */
.new h2{
    margin: 16px 0;
}
.new .list{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 8px;
}
.new ul.list li{
    width: 50%;
}
.new ul.list li a{
    display: block;
    width: 100%;
}
.new ul.list li a .imgbox{
    width: 100%;
}
.new ul.list li a .imgbox img{
    width: 100%;
}
.new ul.list li a .info{
    margin-top: 16px 0px;
}
.new ul.list li a .info h3{
    margin-bottom: 8px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}